:root {
  --color-background: #fff;
  --color-text: #2c3e50;

  --foreground: #13070C; /* Licorice */
  --primary: #896A67;     /* Rose Taupe */
  --secondary: #6B4D57;   /* Eggplant */
  --accent: #DDC8C4;      /* Pale Dogwood */
  --muted: #EAEAEA;
  --border: #D6D3D1;

  --danger: #D9534F;
}